#kimmie_nav {
	text-align: center;
	clear: both;
	margin: 0px auto;
	width: 350px;
}

#kimmie_nav .changeComic {
	float: left;
	width: 50px;
	margin: 6px 0px;
	padding: 23px 0px 0px;
	color: #00c;
	background-color: transparent;
	background-image: url(/src/img/liquidicity_64_vector_arrow_icons-480x436.jpg);
	background-attachment: scroll;
	background-repeat: no-repeat;
	cursor: pointer;
}
#kimmie_nav .changeComic:hover {
	text-decoration: underline;
}
#kimmie_nav .inactive {
	cursor: default;
    opacity:.6;
    filter:alpha(opacity=60);
    KHTMLOpacity:.6;
	color: #666;
}
#kimmie_nav .inactive:hover {
	text-decoration: none;
}
#kimmie_nav .firstDiv {
	background-position: -420px -202px;
}
#kimmie_nav .prevDiv {
	background-position: -170px -180px;
}
#kimmie_nav .nextDiv {
	background-position: -60px -180px;
}
#kimmie_nav .lastDiv {
	background-position: -326px -202px;
}
#kimmie_nav .textDiv {
	float: left;
	width:150px;
	margin: 11px 0px;
	font-size: 12px;
}
