#stapler .image {
	margin: 0px auto;
	background-image: url(../../img/eggers_stapler.png);
	width: 166px;
	height: 92px;
}
#stapler .text {
	font-size: 14px;
	line-height: 30px;
}
#stapler .text p {
	margin-bottom: 20px;
}