#outerContainer {
    width: 848px;
    position:relative;
    font-size: 11px;
    margin: 0 auto;
    padding: 0px 40px;
}

#mainContainer {
    width: 848px;
    background-color: #fff;
}

#contentContainer {
	float: left;
}

div.mainContent {
    float: left;
    padding: 20px;
    width: 607px;
    min-height: 360px;
	border-left: 1px solid #ccc;
}

#contentMain .expandCollapseDiv {
    border: #ccc solid 1px;
    margin-top: 15px;
}
#contentMain .expandCollapseDiv .subNav {
    height: 25px;
    font-size: 12px;
    border-top: #d4d4d4 solid 1px;
}
#contentMain .expandCollapseDiv .sectionHead {
    height: 20px;
    padding: 6px 0px 0px 10px;
    color: #666;
    font-weight: bold;
    background: transparent url(../images/bkg_gradSm_1w.png) repeat-x scroll left top;
    cursor:pointer;
}
#contentMain .expandCollapseDiv .sectionHead div {
    background: transparent url(../images/carrot_down_right.gif) no-repeat scroll 0 -9px;
    height:7px;
    width:7px;
    margin:4px 5px 0 0;
    float:left;
    overflow:hidden;
}
#contentMain .expandCollapseDiv .sectionHead div.selected {
    background: transparent url(../images/carrot_down_right.gif) no-repeat scroll left top;
    height:7px;
    width:7px;
}
#contentMain .expandCollapseDiv .sectionContent,
#contentMain .expandCollapseDiv .sectionIntro {
    padding: 0px 15px 9px;
    border-top: #D4D4D4 solid 1px;
}
#contentMain .expandCollapseDiv .sectionContent p,
#contentMain .expandCollapseDiv .sectionIntro p {
    margin-top: 9px;
}
#contentMain .expandCollapseDiv ul {
    list-style-position: outside;
    margin-left: 15px;
}

