#outerContainer {
    width: 848px;
    position:relative;
    font-size: 11px;
    margin: 0 auto;
    padding: 0px 40px;
}

#mainContainer {
    width: 848px;
    background-color: #fff;
}

#contentContainer {
	float: left;
}

div.mainContent {
    float: left;
    padding: 20px;
    width: 607px;
    min-height: 360px;
	border-left: 1px solid #ccc;
}

